.form-container {
  display: flex;
  height: 100vh;
  max-width: 256px;
  align-items: center;
  padding: 0;
  margin: 0 auto 0 auto;
}
.form-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}