html {
    min-height: 100%;
}
body {
    height: 100vh !important;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -162px;
}

#footer, #push {
    height: 162px;
}
