html {
    background: url("../img/dining-set.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

/* navbar css ============================================================================ */

.navbar{
  position: fixed;
  border: 0;
  height: 80px;
  -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.95);
}

.navbar-brand{
  width: 60px;
  height: 60px;
  margin-top:10px;
}

nav ul li{
  margin-top:10px;
}

/*carousel css ============================================================================ */

.carousel-inner{
  margin-bottom: 60px;
  height: 600px;
  width:100%;
  float:center;
}

.item, img{
   height: 100% !important;
   width:  100% !important;
}

.carousel-caption{
  font-family: times;
  text-shadow: 1px 1px #5F5656;

}

.carousel-caption p{
  font-size: 20px;
}

/*the id that takes precedence over class*/
/*the jumbotron css   ====================================================================== */

#jumbotron-override {
  color:white;
  margin:80px 0 80px 0;
  min-height: 500px;
  /*border: 2px solid black;
  border-radius: 5px;
  background: url('../img/jumbotron.jpg') no-repeat center center;*/
  background-size: cover;
  background: rgba(34,34,34,0.75);
  /*#A9A9A9;*/
  background-blend-mode: screen;
  /*box-shadow:
    0 0 0 8px hsl(100, 100%, 100%),
    0 0 0 1px hsl(0, 0%, 50%);*/
  font-family:times;
}

.jumbotron h1{
  text-decoration: 2px underline;
}

/* 3 panels css ============================================================================ */

.white-background{
  background:white;
}

.panel-text{
  margin-top:50px;
  font-family:Bushcraft;
  font-size:60px;
  font-weight:bold;
}


.col-md-3{
  border: 1px solid #A9A9A9;
  color: black;
  border-radius:10px;
  margin-top:40px;
  margin-right:20px;
  min-height:400px;
  box-shadow:
    0 0 0 2px hsl(100, 100%, 100%),
    0 0 0 1px hsl(0, 0%, 50%);
  font-family:times;
}

#first-panel{
  background: url('../img/pancake.jpg') no-repeat center center;
  background-size: cover;
  background-color: #F4A460;
  background-blend-mode: screen;
}

#second-panel{
  background: url('../img/fruit-pizza.jpg') no-repeat center center;
  background-size: cover;
  background-color: #F4A460;
  background-blend-mode: screen;
}

#third-panel{
  background: url('../img/macaroons.jpg') no-repeat center center;
  background-size: cover;
  background-color: #F4A460;
  background-blend-mode: screen;
}

/* footer css  ====================================================================================== */

.footer-seperator{
  margin-top: 100px;
  height: 5px;
  border: 0;
  width: 100%;
}

#footer {
  background: url('../img/cafe blurred dark.jpg') no-repeat center center;
  background-size:cover;
  position: relative;
	width:100%;
  bottom: 0;
  font-family: times;
}

.footer-text {
   margin-top:20px;
   text-align:left;
   color: #FFFFFF;
   font-size:16px;
   padding:0 0 10px 20px;
}

/*A scroll to top i tried to implement but failed ============================================ */

.scrollToTop{
  width:100px;
  height:130px;
  padding:10px;
  text-align:center;
  position:fixed;
  top:75px;
  right:40px;
  display:none;
  background: url('../img/arrow_up.png') no-repeat 0px 20px;
}

.scrollToTop:hover{
  background-color:rgba(0, 0, 0, 0.1);
}
