.line-seperator{
	height: 5px;
	border: 0;
	width: 100%;
	box-shadow: 0 5px 5px -5px #696969 inset;
}


.footer-company{
  position: absolute;
  float:left;
	color:white;
  margin-bottom: 20px;
	margin-left: 20px;
 }

.footer-text {
	 margin-left: 20px;
   margin-top:10px;
   text-align:left;
   color:#717171;
   font-family: times;
   font-size:16px;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
