.navbar {
    background: transparent;
    border: transparent;
    font-family: Bushcraft;
    font-size: 14pt;
    text-align: center;
}

.navbar-nav>li>a {
    line-height: 1.5em;
}

.btn-login {
	border: 1px solid #808080;
	border-radius: 4px;
	font-family: Bushcraft, Times;
	font-size: 14pt;
	color: white;
	background-color: #3d3838;
	text-align: center;
	line-height: 1.5em;
	padding-bottom: 0px;
}

.btn-login:hover {
	background-color: #554C4C;
    color: white;
}
.btn-login:active {
	position:relative;
    color: white;
	top:1px;
}

#loginForm {
    width: 100%;
}

.form-container {
    min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 75vh;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;
}

.form-control {
    border: 1px solid #808080;
	border-radius: 4px;
    background-color: #585252;
    color: white;
	font-size: 12pt;
}
