
html {
    background: url("../img/cafe blurred dark.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    padding: 20px;
    height: 100%;
    background: transparent;
}

@font-face{
	font-family: Bushcraft;
	src: url("fonts/Bushcraft one.otf") format("otf");
}

.header {
	font-size: 1em;
	margin-top: 70px;
	text-align: right;
}

.header a {
    font-family: Bushcraft, Times, Arial;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 15px;
    margin-top: 20px;
}

.header a:hover {
	text-decoration:underline;
	color: #D3D3D3;
}

#login {
	margin-right: 20px;

}

#signup {
	margin-right: 200px;

}

.navbar {
    background: transparent;
    border: transparent;
}

.navbar-brand {
    padding: 8px;
}

.navbar-right {
    font-family: Bushcraft;
    font-size: 14pt;
    text-align: center;
}

.logo {
    height: 36px;
}

.transparent {
	background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}

.btn-login {
	border: 1px solid #808080;
	border-radius: 4px;
	font-family: Bushcraft, Times;
    font-size: 12pt;
	color: white;
	background-color: #3d3838;
	text-align: center;
    line-height: 1.75em;
}

.btn-login:hover {
	background-color: #554C4C;
    color: white;
}
.btn-login:active {
	position:relative;
    color: white;
	top:1px;
}

#loginForm {
    width: 100%;
}

.form-container {
    min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 75vh;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;
}

.form-control {
    border: 1px solid #808080;
	border-radius: 4px;
    background-color: #585252;
    color: white;
    padding-left: 4px
}
