/* General ======================================== */
html {
    background: url("../img/cafe blurred dark.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
}
textarea { resize: vertical; }
body {
    height: 100%;
    background: transparent;
}

@font-face {
    font-family: bushcraft;
    src: url("../fonts/bushcraft.otf") format("opentype");
}

.main {
    margin-top: 10px;
}

/* Navbar ========================================== */
.navbar {
    font-family: bushcraft;
    font-size: 14pt;
    text-align: center;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.opaque {
    background: rgb(0, 0, 0);
}

.collapse.in {
    background: rgb(0, 0, 0);
}

.navbar-brand {
    padding: 8px;
}

.navbar-toggle {
    border: none;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 12px;
}

.navbar-inverse .navbar-nav>li.active>a {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.glyphicon {
    margin-right: 8px;
}

/* Content ========================================== */
h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 360px;
    padding: 40px 40px;
}

.register-restaurant-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 660px;
    padding: 40px 40px;
}

.login-button {
    margin-top: 5px;
}

.login-register {
    font-size: 11px;
    text-align: center;
}
