
body {
  padding: 0;
  margin: 0;
 
}

#container {
   min-height:100%;
   position:relative;
}

#no-padding{
  padding:0;
}


/* navbar css ============================================================================ */

.navbar{
  position: absolute;
  width:100%;
  border: 0;
  height: 80px;
  background:black;
}
/*
I don't think that this page should have the transparent to visible feature.
I feel that when people are editing their pages, they  might not want a navbar above them as it kinda blocks stuff.
-webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
.navbar.scrolled {
    background: rgba(0, 0, 0, 0.95);
}
*/
.navbar-brand{
  width: 60px;
  height: 60px;
  margin-top:10px;
}

nav ul li{
  margin-top:10px;
}


/* container css ================================================================================ */

#payment-panel{
  padding:0;
  color:black;
  margin:140px -20px 60px -20px;
  width:50%;
  left:25%;
  right:25%;
  background: white;
  font-family:times;
  position:relative;
  border: 2px solid rgba(0, 0, 0, 0.8);

}

.payment-items{
  min-height: 300px;
  max-height: 500px;
  margin-top:-15px;
  overflow:scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
}

/*
#payment-panel::-webkit-scrollbar {
    width: 1em;
}
 
#payment-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#payment-panel::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
*/
#payment-panel p{
  font-size:5vw; 
  text-align:center;
  position:relative;
  background:#A9A9A9;
  border-bottom: 2px solid rgba(66, 61, 41, 0.5)
}

.items{
  min-height:30px;
  margin-bottom:5px;
  font:black;
  vertical-align: middle;
}

.item-list{
  font-size:20px;
  text-align:left;
}

.make-bottom{
  width:100%;
  bottom:0;
  position:absolute;
  margin-right:0;
}

.total-box{
  border-top:2px solid rgba(0,0,0,1);
  background:white;
  font-size:20px;
  padding-top:10px;
  padding-bottom:10px;
}

#payment-button{
  border-top: 2px solid rgba(81, 80, 77, 0.77); 
  font-size: 3vw;
  height:15%;
  width:100%;
  background: #0080ff;
  border-radius:0;
  color:white;
}

#payment-button:hover{
  color:#000000;
}

/* footer css  ====================================================================================== */

#footer {
  background: url('../img/cafe blurred dark.jpg') no-repeat center center;
  background-size:cover;
  position:relative;
  width:100%;
  bottom: 0;
  left: 0;
  font-family: times;
  margin-top:10px;
}

.footer-text {
   margin-top:15px;
   text-align:left;
   color: #FFFFFF;
   font-size:16px;
   padding:0 0 10px 20px;
}
