body {
  color: white;
}

.mainContainer {
  border: 1px solid #808080;
  background-color: #3d3838;
  border-radius: 15px;
}

.box {
  border: 1px solid #808080;
  background-color: #3d3838;
  margin: 5px;
}
