#search-background {
  background: url("../img/search-background-faded.jpg") no-repeat center fixed;
}

html {
  background: url("../img/search-background.jpg") no-repeat center fixed;
}

.searchBox {
  height: 40px;
  outline: none;
  font-size: 30px;
  border-radius: 20px;
  border: 1px solid #808080;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 30px;
}

/* makes the placeholder in searchBox bigger */
input::-webkit-input-placeholder {
  font-size: 30px;
}

.resultsBox {
  color: black;
  border: 1px solid #808080;
  background-color: #5bc0de;
  border-radius: 15px;
  padding-top: 20px;
  margin-top: 20px;
  position: relative;
}

.filtersBox {
  color: black;
  border: 1px solid #808080;
  background-color: #5bc0de;
  border-radius: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
}

hr {
  width: 100%;
}

.resultsAndFilters {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.restaurantBox {
  background-color: #3d3838;
}

.customButton {
  border: 1px solid #808080;
  color: white;
  background: #3d3838;
	text-align: center;
}

.reastaurantButton {
  position: absolute;
  top: 30%;
  right: 5%;
}
