# Enable URL rewriting.
RewriteEngine On
# If the file or directory requested doesn't exist.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite 'api/v1/X' to 'api/v1/api.php?request=X'
RewriteRule api/v1/(.*)$ api/v1/api.php?request=$1 [QSA,NC,L]